.main-nav{
    background-color: #fff;
    position: absolute;
    top: 78px;
    right: 0px;
    height:  764px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 230px;
    padding: 33px;
    box-sizing: border-box;
    z-index: 10;
    @media (max-width:$tablet-bp) {
        height: 690px;
    }
    @media (max-width:$mobile-bp) {
        width: 100%;
    }
    &-list{
        padding-left: 0px;        
        
    }
    &-item{
        text-transform: uppercase;
        @include font-14-17;        
        list-style: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }    
    &-link{
        text-decoration: none;
        color: $main-color;
    }

    &-title{
    padding-left: 1px;
    text-transform: uppercase;
    @include font-14-17;
    font-weight: bold;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 4px;
    }
    &-box{
        position: relative;
        
    }
    &-close{
        position: absolute;
        top: -17px;
        right: -17px;
        background-color: transparent;
        border: none;
        fill: #6F6E6E;
        transition: fill 0.3s;
        cursor: pointer;
        &:hover{
            fill: $main-color;
        }
    }
    &--close{
        display: none;
    }

}
.submenu{
    text-transform: none;
    padding-left: 22px;
    &-item{
    margin-bottom:  12px; 
    margin-top: 12px;
    ;
    list-style: none;

    }
    &-link{
        text-decoration: none;color: #6F6E6E;
        @include font-14-17
    }
}