.page-title{
    background-color: #F8F3F4;
    &-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 65px;
        padding-bottom: 65px;

        @media(max-width: $mobile-bp){
            flex-direction: column;
            gap: 32px;
            padding-top: 24px;
            padding-bottom: 46px;
        }
    }
    &-title{
        font-weight: normal;
        font-size: 24px;
        line-height: 29px; 
        color: $main-color;    
    }
    &-breadcrumbs-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
    }
    &-breadcrumbs-item::before {
        content: '/';
        margin-right: 10px;
    }
    &-breadcrumbs-item:first-child::before {
        display: none;
    }
    &-breadcrumbs-link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        transition: color 0.5s, text-decoration 0.6s;
        &--current {
            font-weight: bold;
            color: $main-color;
            
          }
        &[href]:hover {
            text-decoration: underline;
            color: $main-color;
          }
    }
}