.promo{
    background-color: #F1E4E6;
    &-video{
        position: absolute;
        z-index: 0;
        opacity: 0.4;
        
    }
    &-wrap{    
        height: 765px;
         background-image: url(../img/promo-pg.png);
        background-repeat: no-repeat ;
        background-position-x:   -225px; 
        background-position-y: bottom; 
        display: flex;
        align-items: center;
        justify-content: flex-end;
       
    }
    &-title{
        font-weight: 900;
        font-size: 48px;
        line-height: 40px;
        color: #222222;
        border-left: 12px solid  $main-color;
        padding-left: 16px;
         margin-right: 90px;
         z-index: 1;
        
    }
    &-title-small{
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        color: #222222;
    }
    &-title-pink{    
        color: $main-color;
    }

}