.promo{
    background-color: #F1E4E6;
    &-video{
        position: absolute;
        z-index: 0;
        opacity: 0.4;
        
    }
    &-wrap{    
        height: 765px;
         background-image: url(../img/promo-pg.png);
        background-repeat: no-repeat ;
        background-position-x:   -225px; 
        background-position-y: bottom; 
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media(max-width: $tablet-bp){
            height: 367px;
            background-size: 52%;
            background-position-x:   -50px; 
        }
        @media(max-width: $mobile-bp){
            background-image: none;
            height: 363px;
            justify-content: center;
        }
       
    }
    &-title{
        font-weight: 900;
        font-size: 48px;
        line-height: 40px;
        color: #222222;
        border-left: 12px solid  $main-color;
        padding-left: 16px;
        margin-right: 90px;
        z-index: 1;
         @media(max-width: $tablet-bp){
            font-size: 44px;
            line-height: 53px;
            margin-right: 15px;
         }
         @media(max-width: $mobile-bp){
            font-size: 38px;
            line-height: 46px;
            text-align: center;
         }
        
    }
    &-title-small{
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        color: #222222;
        @media(max-width: $tablet-bp){
            font-size: 24px;
            line-height: 29px;
        }
        @media(max-width: $mobile-bp){
            font-size: 20px;
            line-height: 24px;

        }
    }
    &-title-pink{    
        color: $main-color;
    }

}